:root {
  --white: hsl(0, 0%, 100%);
  --stone100: hsl(30, 54%, 90%);
  --stone150: hsl(30, 18%, 87%);
  --stone600: hsl(30, 10%, 34%);
  --stone900: hsl(24, 5%, 18%);

  --brown800: hsl(14, 45%, 36%);

  --rose800: hsl(332, 51%, 32%);
  --rose50: hsl(330, 100%, 98%);
}

@font-face {
  font-family: 'outfit';
  src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'young serif';
  src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

body {
  margin: 0;
  background: var(--white);
  font-family: 'outfit';
  font-size: 16px;
  color: var(--stone600);
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1;
}

h1 {
  margin: 30px 0;
  font-family: 'young serif';
  font-size: 36px;
  color: var(--stone900);
}

h2 {
  font-family: 'young serif';
  font-size: 28px;
  color: var(--brown800);
}

h3 {
  font-family: 'outfit';
  font-size: 18px;
  font-weight: 700;
  color: var(--rose800);
}

hr {
  margin: 0;
  height: 1px;
  background-color: var(--stone150);
  border-width: 0;
}

strong {
  font-weight: 700;
}

ul,
ol {
  padding-left: 24px;
}

li {
  padding-bottom: 1rem;
  padding-left: 1rem;
}

#recipe-article {
  padding: 2rem;
  background: var(--white);
}

#recipe-article img {
  margin-left: -2rem;
  margin-top: -2rem;
  width: 100vw;
}

#prep-time {
  padding-left: 24px;
  padding-top: 8px;
  border-radius: 12px;
  background: var(--rose50);
}

#nutrition table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

#nutrition td {
  padding: 12px 0px;
}

#nutrition td:first-child {
  padding-left: 36px;
}

#nutrition tr {
  border-bottom: 1px solid var(--stone150);
}

#nutrition tr:last-child {
  border: none;
}

#nutrition strong {
  color: var(--brown800);
}

.attribution{
  overflow:hidden;
  height:0;
  width:0;
  margin: 0;
}

ol ::marker{
  font: 600 16px 'outfit';
}

@media (min-width: 650px) {
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
    background: var(--stone100);
  }

  #recipe-article{
    width: 650px;
    border-radius: 16px;
  }
  #recipe-article img {
    margin: 0;
    width: 100%;
    border-radius: 12px;
  }
}